[Unit]
Description="{{ snova_name }}-sparrow-schedule"
PartOf={{ snova_name }}-workers.target

[Service]
User={{ user }}
Group={{ user }}
Restart=always
ExecStart={{ snova_cmd }} schedule
StandardOutput=file:{{ snova_dir }}/logs/schedule.log
StandardError=file:{{ snova_dir }}/logs/schedule.error.log
WorkingDirectory={{ snova_dir }}
