[Unit]
After={{ snova_name }}-sparrow-web.service
Description="{{ snova_name }}-node-socketio"
PartOf={{ snova_name }}-web.target

[Service]
User={{ user }}
Group={{ user }}
Restart=always
ExecStart={{ node }} {{ snova_dir }}/apps/sparrow/socketio.js
StandardOutput=file:{{ snova_dir }}/logs/node-socketio.log
StandardError=file:{{ snova_dir }}/logs/node-socketio.error.log
WorkingDirectory={{ snova_dir }}
