[Unit]
Description="{{ snova_name }}-sparrow-short-worker %I"
PartOf={{ snova_name }}-workers.target

[Service]
User={{ user }}
Group={{ user }}
Restart=always
ExecStart={{ snova_cmd }} worker --queue long
StandardOutput=file:{{ snova_dir }}/logs/worker.log
StandardError=file:{{ snova_dir }}/logs/worker.error.log
WorkingDirectory={{ snova_dir }}
